<html>
  <head><title>Example of Flask and HTML Templates Interaction</title></head>
  <body>
    <script>
  window.watsonAssistantChatOptions = {
      integrationID: "f5960123-a1f9-4006-8273-8c38ca4db22d", // The ID of this integration.
      region: "eu-gb", // The region your integration is hosted in.
      serviceInstanceID: "14aa50c9-275e-4011-aac3-d275e06e8bcb", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
    document.head.appendChild(t);
  });
</script>

    <h1>Home Page .... {{message}}</h1>    
     <form method=post>
        <input type=submit value="Click to test Post Method">     
     </form>
    <em> Raja here </em>
  </body>
<html>
